.additive-wrapper {
  border-bottom: 1px solid #ebebeb;
  border-top: 1px solid #ebebeb;
  padding-bottom: 20px;
}

@media (min-width: $tablet-width) {
  .additive-wrapper {
    border: 1px solid $color__light-grey;
    padding: 0 38px 28px 38px;
  }
}

@media (min-width: $desktop-width) {
  .additive-wrapper {
    display: flex;
    align-items: center;
  }
}
