.additives__inner {
  display: flex;
  flex-direction: column;
}

@media (min-width: $desktop-width) {
  .additives__inner {
   width: 70%;
  }
}

@media (min-width: $desktop-width) {
  .additives__outer {
    display: flex;
    column-gap: 4%;
  }
}

.additives__title {
  font-weight: 400;

  @include line-height(24,24,36,36);
  @include font-size(24,36);
}
