.additive {
  display: grid;
  padding-top: 13px;
  border-bottom: 1px solid #ebebeb;
  border-top: 1px solid #ebebeb;
  padding-bottom: 15px;
  width: 100%;
}

@media (min-width: $tablet-width) {
  .additive {
    display: flex;
    flex-direction: column;
    border: 1px solid $color__light-grey;
    padding-bottom: 25px;
  }
}

@media (min-width: $tablet-width) {
  .additive__wrapper {
    display: grid;
    row-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    padding: 14px 38px 0 38px;
  }
}

@media (min-width: $desktop-width) {
  .additive {
    grid-template-columns: repeat(3, 1fr);
  }
}

.additive__list {
  margin: 0 0 14px 0;
  padding: 0;
  list-style-type: none;
}

@media (min-width: $tablet-width) {
  .additive__list {
    display: flex;
    justify-content: flex-end;
  }
}

.additive__item {
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  font-family: $font__standard;

  @include line-height(14,14,16,20);
  @include font-size(14,16);
}

@media (min-width: $tablet-width) {
  .additive__item {
    width: 75%;
    justify-content: flex-end;
    column-gap: 23%;
  }
}

.additive__title {
  margin: 0 0 14px 0;
  font-weight: 400;
  text-transform: uppercase;

  @include line-height(16,16,20,20);
  @include font-size(16,20);
}

@media (min-width: $tablet-width){
  .additive__title {
    grid-column: 1 / 2;
  }
}

.additive_count {
  font-weight: 400;
}

@media (min-width: $tablet-width) and (max-width: $desktop-width) {
  .additive__link {
/*    grid-row: 2 / 3;*/
    grid-column: 1 / -1;
  }
}
