.additive-outer {
  border-bottom: 1px solid #ebebeb;
  border-top: 1px solid #ebebeb;
  padding-bottom: 20px;
}

@media (min-width: $tablet-width) {
  .additive-outer {
    border: 1px solid $color__light-grey;
    padding-bottom: 28px;
  }
}
