.catalog-inner {
  display: grid;
}

@media (min-width: $tablet-width) and (max-width: $desktop-width) {
  .catalog-inner {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 7.8%;
    row-gap: 141px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (min-width: $desktop-width) {
  .catalog-inner {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 5.5%;
    row-gap: 143px;
    padding-left: 40px;
    padding-right: 40px;
  }
}
