.catalog {
  padding-bottom: 22px;

  @media (--not-narrow-vp) {
    padding-bottom: 60px;
  }
}

.catalog__title {
  grid-column: 1 / -1;
  padding-top: 28px;
  padding-bottom: 39px;
  border-top: 1px solid #ebebeb;
  font-weight: 400;
  margin: 0;

  @include line-height(36, 36, 60, 60);
  @include font-size(36, 60);

  @media (--not-narrow-vp) {
    margin-top: 22px;
    margin-bottom: 123px;
    border: none;
  }

  @media (--wide-vp) {
    margin-top: 43px;
    margin-bottom: 126px;
    border: none;
  }
}

.catalog__products {
  @include reset-list;

  @media (--not-narrow-vp) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 8%;
    row-gap: 139px;
  }

  @media (--wide-vp) {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 6%;
    row-gap: 140px;
  }
}
