.contacts-outer {
  background-color: $color__white;
}

.contacts-outer--dark {
  background-color: $color__grey;
}

@media (min-width: $desktop-width) {
  .contacts-outer {
    width: 1300px;
    padding-left: 40px;
    padding-right: 40px;
    margin: 0 auto;
    box-sizing: border-box;
  }
}

