.control {
  display: flex;
  width: 65.5%;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;

  @media (--not-narrow-vp) {
    padding: 20px 0;
    width: 592px;
  }
}

.control__scale {
  @media (--narrow-vp) {
    width: 41%;
  }
}

.control__button {
  padding: 0;
  border: none;
  background-color: transparent;
  text-transform: uppercase;
  font-family: var(--accent-font);
  line-height: 40px;
  cursor: pointer;
  width: 49px;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
  transition: 0.3s;

  @include line-height(16, 20, 20, 29.64);
  @include font-size(16,20);

  &:hover {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }

  &:active {
    border-bottom: none;
  }
}

.control__bar {
  width: 100%;
  height: 14px;
  background-color: var(--color__white);
  border: 1px solid var(--color__light-grey);
  border-radius: 6px;

  @media (--not-narrow-vp) {
    width: 426px;
    height: 6px;
    background-color: #dcdcdc;
    border: none;
    border-radius: 6px;
  }
}

.control__range {
  position: relative;
  top: -12px;
  left: 4px;
  width: 42%;
  height: 6px;
  border: none;
  outline: none;
  border-radius: 6px;
  background-color: var(--color__green);
  transition-timing-function: ease-in-out;

  &:hover {
    filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.19));
  }

  &:focus {
    border: none;
    outline: none;
  }

  &:active {
    outline: 2px solid var(--color__green);
    filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.2));
  }

  @media (--not-narrow-vp) {
    position: relative;
    top: -13px;
    left: 0;
    width: 34px;
    height: 34px;
    margin: 0 auto;
    background: var(--color__white);
    border: 1px solid var(--color__light-grey);
    border-radius: 50%;
    filter: drop-shadow(0 1px 3px rgba(0, 0, 0, 0.16));
  }

  &--active {
    left: 5%;
    transform: translateX(38px);
  }

  &::after {
    @media (--not-narrow-vp) {
      content: "";
      position: absolute;
      top: 13px;
      left: 13px;
      width: 6px;
      height: 6px;
      background-color: var(--color__green);
      border-radius: 50%;
    }
  }
}
