.contacts-container {
  background-color: $color__white;

  @media (--wide-vp) {
    align-self: center;
    justify-self: center;
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    padding: 20px 0;
    box-sizing: border-box;
    z-index: 2;
    background-color: transparent;
  }

  &--dark {
    background-color: $color__grey;
  }
}
