.contacts-container {
  background-color: $color__white;

  @media (--wide-vp) {
    width: 1300px;
    padding-left: 50px;
    box-sizing: border-box;
  }

  &--dark {
    background-color: $color__grey;
  }
}
