.contacts {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 10%;
}

/*@media (min-width: $tablet-width) {
  .contacts {
    gap: 38.5%;
  }
}*/

@media (min-width: $desktop-width) {
  .contacts {
    position: absolute;
    left: 13.2%;
    width: 565px;
    box-sizing: border-box;
    padding: 80px 56px;
    background: $color__white;
  }
}

.contacts__title {
  width: 50%;
}

@media (min-width: $tablet-width) {

}

.contacts__address {
  width: 50%;
}


@media (min-width: $tablet-width) {
  .contacts__address {
    text-align: right;
  }
}
