.control {
  position: relative;
  display: flex;
  width: 210px;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.control__button {
  border: none;
  background-color: transparent;
  text-transform: uppercase;
  line-height: 40px;
  cursor: pointer;
  width: 49px;
}

.control__bar {
  width: 86px;
  height: 14px;
  background-color: $color__white;
  border: 1px solid $color__light-grey;
  border-radius: 6px;
}

.control__range {
  position: relative;
  top: -7px;
  left: 4px;
  width: 36px;
  height: 6px;
  border: none;
  border-radius: 6px;
  background-color: $color__green;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}

.control__range--active {
  left: 5%;
  transform: translateX(38px);
}
