.demo-slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  box-sizing: border-box;
  padding-bottom: 42px;

  @media (--not-narrow-vp) {
    padding-bottom: 38px;
    left: 14px;
  }
}

.demo-slider__cat {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

.cat-fat {
  @media (--not-narrow-vp) {
    display: none;
  }
}

.cats-static {
  display: none;

  @media (--not-narrow-vp) {
    display: block;
  }
}
