.demo {
  background-color: $color__grey;
  width: 100%;
}

@media (min-width: $tablet-width) {
  .demo {
    background-image: linear-gradient(to bottom, #ffffff 600px, transparent 600px);
  }
}

@media (min-width: $desktop-width) {
  .demo {
    background-image: linear-gradient(to bottom, #ffffff 140px, transparent 140px);
    background-color: $color__grey;
  }
}
