.demo {
  background-color: var(--color__grey);
  width: 100%;

  @media (--not-narrow-vp) {
    background-image:
      linear-gradient(
        #ffffff 600px,
        transparent 600px
      );
  }

  @media (--wide-vp) {
    background-image:
      linear-gradient(
        #ffffff 140px,
        transparent 140px
      );
  }
}
