.footer-logo {
  display: grid;
  justify-content: center;
  box-sizing: border-box;
  padding: 15px 0;
  row-gap: 10px;
  transition: 0.3s;

  @media (--narrow-vp) {
    padding-bottom: 26px;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.footer-logo__link:focus-visible {
  outline: 2px solid var(--color__outline);
  outline-offset: 1px;
  border-radius: 5px;
}
