.footer-container {
  @media (--narrow-vp) {
    display: flex;
    flex-direction: column;
    padding-top: 39px;
    padding-bottom: 22px;
  }

  @media (--not-narrow-vp) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    min-height: 148px;
    align-items: center;
    justify-content: space-between;
    column-gap: 15px;
  }

  // @media (--wide-vp) {
  //   transform: translateY(72px);
  //   align-items: center;
  // }
}
