.footer {
  position: relative;
}

.footer__contacts-container {
  background-color: var(--color__white);

  @media (--wide-vp) {
    width: 565px;
    margin-left: calc((100vw - 1280px) / 2);
    align-self: center;
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    padding: 20px 0;
    box-sizing: border-box;
    z-index: 2;
    background-color: transparent;
  }

  &--color_change {
    @media (--not-wide-vp) {
      --changed-color: var(--color__grey);
      background-color: var(--changed-color, --color__white);
    }
  }
}

.footer__map {
  @media (--narrow-vp) {
    height: 362px;
  }

  @media (--not-narrow-vp) {
    height: 400px;
  }

  @media (--wide-vp) {
    grid-row: 1 / -1;
    grid-column: 1 / -1;
    min-height: 400px;
    height: 100%;
  }
}

@media (--wide-vp) {
  .footer__contacts-wrapper {
    display: grid;
    box-sizing: border-box;
  }
}

.footer__map iframe {
  display: block;
  width: 100%;
  height: 100%;
  border: none;
}
