.footer-inner {
  @media (--narrow-vp) {
    padding-top: 39px;
    padding-bottom: 22px;
  }

  @media (--not-narrow-vp) {
    display: flex;
    height: 148px;
    align-items: center;
    justify-content: space-between;
  }
}
