@media (min-width: $tablet-width) {
  .footer-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@media (min-width: $tablet-width) {
  .footer-inner {
    display: flex;
    height: 148px;
    align-items: center;
    justify-content: space-between;
  }
}
