.form {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;

  @include line-height(16,18,20,29.64);
  @include font-size(16,20);
}

.form__section {
  display: flex;
  flex-direction: column;
}

@media (min-width: $desktop-width) {
  .form__section {
    flex-direction: row;
    justify-content: space-between;
    column-gap: 20%;
  }
}

.form input,
.form textarea {
  text-transform: uppercase;
  font-family: $font__main;
  font-size: 1rem;
  line-height: 18px;
}

.form__submit {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (min-width: $tablet-width) {
  .form__submit {
    flex-direction: row;
  }
}

.form__span {
  font-family: $font__standard;

  @include line-height(14,16,16,16);
  @include font-size(14,16);
}

@media (min-width: $tablet-width) {
  .form__span {
    width: 110%;
    display: flex;
    justify-content: center;
  }
}

@media (min-width: $desktop-width) {
  .form__span {
    justify-content: flex-start;
    padding-left: 50px;
  }
}
