.header {
  position: relative;
  display: flex;
  padding-top: 10px;
  padding-bottom: 17px;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color__white);

  @media (--not-narrow-vp) {
    padding-top: 35px;
  }

  @media (--wide-vp) {
    padding-top: 63px;
    background-color: transparent;
  }

  &--noJS {
    @media (--narrow-vp) {
      display: block;
    }
  }
}
