.header {
  position: relative;
  display: flex;
  padding-bottom: 2px;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color__white);

  &--noJS {
    @media (--narrow-vp) {
      display: grid;
    }
  }
}
