.header-nav {
  position: relative;
}

.header-nav__list {
  position: absolute;
  top: 50px;
  left: -255px;
  z-index: 2;
  display: none;
  opacity: 0;
  background-color: $color__white;

  @include reset-list();
}

.header-nav__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $color__black;
  text-transform: uppercase;
  text-decoration: none;
}
