@media (max-width: $tablet-width - 1px) {
  .header-nav {
    display: none;
    position: absolute;
    top: 65px;
    left: 0;
    z-index: 3;
    width: 100%;
    opacity: 0;
  }
}

@media (max-width: $tablet-width - 1px) {
  .header-nav--noJS {
    display: block;
    position: static;
    width: 100%;
    opacity: 1;
  }
}

@media (min-width: $tablet_width) {
  .header-nav {
    width: 62%;
  }
}

@media (min-width: $desktop-width) {
  .header-nav {
    width: 37%;
    z-index: 2;
  }
}

.header-nav__list {
  @include reset-list();
}

@media (max-width: $tablet-width - 1px) {
  .header-nav__list {
    display: flex;

    background-color: $color__white;

    width: 100%;
    flex-direction: column;
    align-items: center;

    @include reset-list();
  }
}

@media (min-width: $tablet_width) {
  .header-nav__list {
    position: static;
    display: flex;
    justify-content: flex-end;
    column-gap: 7.7%;
    opacity: 1;
  }
}

@media (min-width: $desktop-width) {
  .header-nav__list {
    position: static;
    display: flex;
/*    column-gap: 3.5%;*/
    background-color: transparent;
    opacity: 1;
  }
}

.header-nav__link {
  display: block;
  width: max-content;
  color: $color__black;
  text-transform: uppercase;
  text-decoration: none;
  font-size: calc(18 / 16) + rem;
  line-height: calc(24 / 18);
}

@media (max-width: $tablet-width - 1px) {
  .header-nav__link {
    box-sizing: border-box;
    padding: 22px 24px;
    font-weight: 500;
  }
}

@media (max-width: $tablet-width - 1px) {
  .header-nav__item {
    width: 100%;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #eaeaea;
    border-top: 1px solid #eaeaea;
  }
}

@media (min-width: $desktop-width) {
  .header-nav__link {
    font-size: calc(20 / 16) + rem;
    line-height: calc(29.64 / 20);
    color: $color__black;
  }
}

@media (min-width: $desktop-width) {
  .header-nav__link--white {
    color: $color__white;
  }
}
