@media (min-width: $tablet_width) {
  .header-nav {
    width: 62%;
  }
}

.header-nav__list {
  position: absolute;
  top: 65px;
  left: 0;
  z-index: 2;
  display: none;
  opacity: 0;
  background-color: $color__white;

  @include reset-list();
}

@media (max-width: $tablet_width - 1px) {
  .header-nav__list {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
}

@media (min-width: $tablet_width) {
  .header-nav__list {
    position: static;
    display: flex;
    column-gap: 7.7%;
    opacity: 1;
  }
}

.header-nav__link {
  display: block;
  width: max-content;
  color: $color__black;
  text-transform: uppercase;
  text-decoration: none;
  font-size: calc(18 / 16) + rem;
  line-height: calc(24 / 18);
}

@media (max-width: $tablet-width - 1px) {
  .header-nav__link {
    box-sizing: border-box;
    padding: 22px 24px;
    font-weight: 500;
  }
}

@media (max-width: $tablet-width - 1px) {
  .header-nav__item {
    width: 100%;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #eaeaea;
    border-top: 1px solid #eaeaea;
  }
}

@media (min-width: $desktop-width) {
  .header-nav__link {
    font-size: calc(20 / 16) + rem;
    line-height: calc(29.64 / 20);
  }
}
