.health-programs {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  flex-wrap: wrap;
  padding-bottom: 13px;

  @media (--not-narrow-vp) {
    row-gap: 29px;
  }

  @media (--wide-vp) {
    flex-direction: row;
    justify-content: space-between;
  }
}
