.health-programs {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  flex-wrap: wrap;
  padding-bottom: 13px;

  @media (--wide-vp) {
    flex-direction: row;
    justify-content: space-between;
  }
}
