.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo__icon {
  // margin-right: 57px;

  @media (--middle-vp) {
    width: 60px;
    height: 52px;
  }
}

.logo__text {
  transform: translateY(3px);

  @media (--not-narrow-vp) {
    [id="energy"] {
      fill: var(--color__dark-grey);
    }
  }

  @media (--wide-vp) {
    height: 20px;
    width: auto;
  }
}
