.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: 0.3s;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.logo__icon {
  // margin-right: 57px;

  @media (--middle-vp) {
    width: 60px;
    height: 52px;
  }

  @media (--wide-vp) {
    width: 70px;
    height: auto;
  }
}

.logo__text {
  transform: translateY(3px);

  @media (--not-narrow-vp) {
    [id="energy"] {
      fill: var(--color__dark-grey);
    }
  }

  @media (--wide-vp) {
    height: 20px;
    width: auto;
  }
}
