.main-link {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: $color__green;
  text-transform: uppercase;
  border: none;
  padding-top: 11px;
  padding-bottom: 11px;
  font-family: var(--accent-font);
  font-weight: 400;

  @include font-size(16,20);
  @include line-height(16,20,20,20);
  @include link(white);

  &--smaller-text {
    @include font-size(14,20);
    @include line-height(14,18,20,20);

    @media (--not-narrow-vp) {
      padding: 17px 5px;
    }
  }

  &--discreet {
    background-color: $color__grey;
    color: $color__dark-grey;
  }
}
