.main-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color__green;
  text-transform: uppercase;
  border: none;

  @include link(white);
}

.main-link--discreet {
  background-color: $color__grey;
  color: $color__dark-grey;
}
