.page__body {
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
/*  font-size: 14px;*/
  font-weight: 400;
}

.page__main {
  flex: 1;
}

/*
@media (min-width: $tablet-width) {
  .page__body {
    font-size: 16px;
  }
}
*/
