.product-block {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 10px;
  padding-bottom: 23px;
  padding-top: 21px;

  @media (--middle-vp) {
    min-height: 320px;
  }

  @media (--not-narrow-vp) {
    grid-template-columns: 1fr;
    grid-template-rows: 200px auto;
    background-image: linear-gradient(to bottom, transparent 110px, var(--color__grey) 110px);
    padding: 0 36px 37px 36px;
  }

  &--more {
    grid-template-rows: auto;
    padding-top: 72px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: none;
    align-self: flex-end;
    min-height: 260px;

    @media (--not-narrow-vp) {
      padding-top: 85px;
      border: 2px solid var(--color__grey);
    }
  }

  &::before {
    @media (--narrow-vp) {
      content: "";
      position: absolute;
      top: 0;
      right: -20px;
      display: block;
      width: 100vw;
      height: 1px;
      background-color: #ebebeb;
    }
  }

  &::after {
    @media (--narrow-vp) {
      content: "";
      position: absolute;
      top: 208px;
      display: block;
      width: 100vw;
      right: -20px;
      height: 1px;
      background-color: #ebebeb;
    }
  }
}

.product-block__image {
  display: block;
  margin: 0 auto;

  &--small {
    @media (--not-narrow-vp) {
      padding-top: 30px;
      width: 161px;
      height: auto;
    }
  }

  &--big {
    @media (--middle-vp) {
      width: 168px;
      height: auto;
    }

    @media (--wide-vp) {
      width: 172px;
      height: auto;
    }
  }
}

.product-block__title {
  font-weight: 400;

  @include line-height(16,20,20,22);
  @include font-size(16,20);

  &--more {
    position: relative;
    margin: 0 0 0 0;
    text-transform: uppercase;

    @media (--not-narrow-vp) {
      width: 70%;
      margin-top: 77px;
      margin-bottom: 13px;
    }

    &::before {
      position: absolute;
      top: -40px;
      left: 50%;
      display: block;
      width: 2px;
      height: 30px;
      content: "";
      background-color: #d3d3d3;

      @media (--not-narrow-vp) {
        top: -125px;
        left: 50%;
        height: 60px;
      }
    }

    &::after {
      position: absolute;
      top: -25px;
      left: 43%;
      display: block;
      width: 30px;
      height: 2px;
      content: "";
      background-color: #d3d3d3;

      @media (--not-narrow-vp) {
        top: -95px;
        left: calc((100% / 2) - 29px);
        width: 60px;
      }
    }
  }
}

.product-block__description {
  margin: 0 0 11px 0;
  font-family: var(--main-font);

  @include line-height(12,16,16,18);
  @include font-size(12,16);

  @media (--not-narrow-vp) {
    width: 70%;
  }
}

.product-block__button {
  grid-column: 1 / -1;
  margin-top: auto;
}
