.product-block {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.product-block__image {
  display: block;
  margin: 0 auto;
}

.product-block--more {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.product-block__title {
  text-transform: uppercase;
}
