.product-block {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.product__button {
  grid-column: 1 / -1;
}

.product__title {
  text-transform: uppercase;
}

.product__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product__list{
  display: flex;
  flex-direction: column;

  @include reset-list();
}

.product-block--more {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.product-block__title {
  text-transform: uppercase;
}
