.program {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-color: var(--color__grey);
  min-height: 266px;

  @media (--middle-vp) {
    padding-right: 350px;
    height: 372px;
  }

  @media (--wide-vp) {
    width: 570px;
    height: 374px;
  }

  &--slim {
    padding: 30px 33px 12px 19px;

    @media (--not-narrow-vp) {
      padding: 74px 33px 12px 19px;
    }

    @media (--wide-vp) {
      padding: 77px 33px 12px 19px;
    }
  }

  &--fat {
    padding: 25px 33px 12px 19px;

    @media (--not-narrow-vp) {
      padding: 78px 30px 12px 19px;
    }
  }

  &::after {
    position: absolute;
    top: 78%;
    left: 0;
    display: block;
    width: 85%;
    transform: translateX(20px);
    height: 1px;
    background-color: #d9d9d9;
    content: "";

    @media (--middle-vp) {
      display: none;
    }
  }
}

.program__title {
  position: relative;
  display: flex;
  padding-left: 72px;
  padding-right: 5%;
  box-sizing: border-box;

  margin: 0;
  align-items: center;
  text-transform: uppercase;
  font-weight: 400;

  @include font-size(24,36);
  @include line-height(24,37,36,36);

  @media (--not-narrow-vp) {
    padding-left: 34px;
  }

  @media (--wide-vp) {
    padding-left: 195px;
  }

  &--slim {
    &::after {
      top: 0;
      left: 0;
      width: 70px;
      height: 70px;
      background-image: url("../../icons/sprite.svg#cat-slim");
      background-size: auto;

      @media (--middle-vp) {
        top: 5px;
        left: 60%;
        width: 270px;
        height: 270px;
      }

      @media (--wide-vp) {
        top: -40px;
        left: 5%;
        width: 120px;
        height: 136px;
      }
    }
  }


  &--fat {
    &::after {
      top: 5px;
      left: -6px;
      width: 70px;
      height: 70px;
      background-image: url("../../icons/sprite.svg#cat-pro");
      background-size: auto;

      @media (--middle-vp) {
        top: 5px;
        left: 60%;
        width: 270px;
        height: 270px;
      }

      @media (--wide-vp) {
        top: -40px;
        left: 2%;
        width: 134px;
        height: 130px;
      }
    }
  }

  &::after {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
  }

  &::before {
    content: "";
    position: absolute;
    top: -6px;
    left: 3px;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--color__green);

    @media (--middle-vp) {
      width: 200px;
      height: 200px;
      top: 15px;
      left: 65%;
    }

    @media (--wide-vp) {
      width: 100px;
      height: 100px;
      top: -29px;
      left: 33px;
    }
  }
}

.program__description {
  padding: 29px 3px 32px 0;
  margin: 0;
  color: var(--color__dark-grey);
  font-family: var(--main-font);

  @include font-size(14,16);
  @include line-height(14,18,16,24);

  @media (--not-narrow-vp) {
    padding: 27px 43% 40px 33px;
  }

  @media (--wide-vp) {
    padding: 75px 20px 15px 33px;
  }
}

.program__link {
  position: relative;
  padding: 10px 5px 10px 0;
  display: flex;
  align-items: center;
  margin-top: auto;
  box-sizing: border-box;
  width: 45%;
  text-transform: uppercase;

  @include font-size(16,20);
  @include line-height(16,16,20,29.6);
  @include link(var(--color__black));

  @media (--not-narrow-vp) {
    padding: 10px 0 12px 33px;
  }

  &:hover::after {
    mask-position: center;
  }

  &::after {
    position: relative;
    display: block;
    margin-left: 25px;
    width: 32px;
    height: 10px;
    mask-image: url("../../icons/sprite.svg#arrow");
    mask-repeat: no-repeat;
    mask-position: -10px center;
    mask-size: cover;
    background: currentColor;
    content: "";
    transition: 0.3s;
  }
}
