.program {
  position: relative;
  box-sizing: border-box;
  background-color: $color__grey;

  &::after {
    position: absolute;
    top: 93%;
    left: 0;
    display: block;
    width: 106%;
    height: 1px;
    background-color: #d9d9d9;
    content: "";
  }
}

@media (min-width: $tablet-width) and (max-width: $desktop-width) {
  .program {
    padding-right: 350px;
    height: 372px;
  }
}

@media (min-width: $desktop-width) {
  .program {
    width: 570px;
    height: 374px;
  }
}

.program--slim {
  padding: 30px 33px 12px 19px;
}

.program--fat {
  padding: 25px 33px 12px 19px;
}

.program__title {
  position: relative;
  display: flex;
  padding-left: 72px;
  padding-right: 5%;
  box-sizing: border-box;

  margin: 0;
  align-items: center;
  text-transform: uppercase;
  font-weight: 400;

  @include font-size(24,36);
  @include line-height(24,37,36,36);


  &::before {
    position: absolute;
    top: -6px;
    left: 3px;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    content: "";
    background-color: $color__green;
  }
}

.program__title--slim::after {
  position: absolute;
  top: -9px;
  left: 10px;
  display: block;
  width: 36px;
  height: 50px;
  background-image: url("../../img/svg/icon_cat-slim.svg");
  content: "";
}

.program__title--fat::after {
  position: absolute;
  top: 5px;
  left: -6px;
  display: block;
  width: 67px;
  height: 28px;
  background-image: url("../../img/svg/icon_cat-pro.svg");
  content: "";
}

@media (min-width: $desktop-width) {
  .program__title {
    padding-left: 90px;
  }
}

@media (min-width: $tablet-width) and (max-width: $desktop-width) {
  .program__title::before {
    /*width: 200px;
    height: 200px;*/
    top: 20px;
    left: 120%;
  }

  .program__title--slim::after,
  .program__title--fat::after {
    top: 20px;
    left: 120%;
  }
}

@media (min-width: $desktop-width) {
  .program__title::before {
    /*width: 200px;
    height: 200px;*/
    top: -20px;
    left: 10px;
  }

  .program__title--slim::after,
  .program__title--fat::after {
    top: -20px;
    left: 10px;
  }
}

.program__description {
  padding: 29px 0 32px 0;
  margin: 0;
  color: $color__dark-grey;
  font-family: $font__standard;

  @include font-size(14,16);
  @include line-height(14,18,16,24);
}

.program__link {
  padding: 10px 5px 10px 0;
  display: block;
  box-sizing: border-box;
  width: 45%;
  text-transform: uppercase;

  @include font-size(16,20);
  @include line-height(16,16,20,29.6);
  @include link($color__black);
}
