.program {
  background-color: $color__grey;
  height: 260px;
  row-gap: 20px;
}

@media (min-width: $tablet-width) and (max-width: $desktop-width) {
  .program {
    padding-right: 350px;
    height: 372px;
  }
}

@media (min-width: $desktop-width) {
  .program {
    width: 570px;
    height: 374px;
  }
}

.program__title {
  position: relative;
  display: flex;
  padding-left: 60px;
  align-items: center;
  text-transform: uppercase;

  &::before {
    position: absolute;
    top: 20%;
    left: 0;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    content: "";
    background-color: $color__green;
  }
}

.program__title--slim::after {
  position: absolute;
  top: 20%;
  left: 0;
  display: block;
  width: 36px;
  height: 50px;
  background-image: url("../../img/svg/icon_cat-slim.svg");
  content: "";
}

.program__title--fat::after {
  position: absolute;
  top: 10px;
  left: -20px;
  display: block;
  width: 67px;
  height: 28px;
  background-image: url("../../img/svg/icon_cat-pro.svg");
  content: "";
}

@media (min-width: $desktop-width) {
  .program__title {
    padding-left: 90px;
  }
}

@media (min-width: $tablet-width) and (max-width: $desktop-width) {
  .program__title::before {
    /*width: 200px;
    height: 200px;*/
    top: 20px;
    left: 120%;
  }

  .program__title--slim::after,
  .program__title--fat::after {
    top: 20px;
    left: 120%;
  }
}

@media (min-width: $desktop-width) {
  .program__title::before {
    /*width: 200px;
    height: 200px;*/
    top: -20px;
    left: 10px;
  }

  .program__title--slim::after,
  .program__title--fat::after {
    top: -20px;
    left: 10px;
  }
}

.program__description {
  color: $color__dark-grey;
}

.program__link {
  text-transform: uppercase;

  @include link($color__black);
}
