.promo-container {
  padding-bottom: 20px;
  background-image:
    linear-gradient(
      to top,
      #ffffff 198px,
      transparent 198px
    ),
    linear-gradient(
      rgba(104, 183, 56, 0.85),
      rgba(104, 183, 56, 0.85)
    ),
    url("../../img/happy-cat-s@1x.jpg");
  background-repeat: no-repeat;
  background-color: #29530f;
  background-position: 50% 0;

  @media (--x2-resolution) {
    background-image: linear-gradient(
      to top,
      #ffffff 198px,
      transparent 198px
    ),
      linear-gradient(
      rgba(104, 183, 56, 0.85),
      rgba(104, 183, 56, 0.85)
    ),
      url("../../img/happy-cat-s@2x.jpg");
    background-size: auto, auto, 320px auto;
  }

  @media (--middle-vp) {
    background-image: none;
    background-color: var(--color__white);
  }

  @media (--wide-vp) {
    position: relative;
    background-image: none;
    background-color: var(--color__white);
  }

  &::after {
    @media (--wide-vp) {
      content: "";
      position: absolute;
      top: -101px;
      right: 0;
      width: 50%;
      height: 695px;
      background-image:
        linear-gradient(
          rgba(104, 183, 56, 0.85),
          rgba(104, 183, 56, 0.85)
        ),
        url("../../img/happy-cat-l@1x.jpg");
      background-color: #2e5c12;
      background-position: right top;
      background-repeat: no-repeat;
    }

    @media (--x2-resolution) {
      background-image:
        linear-gradient(
          rgba(104, 183, 56, 0.85),
          rgba(104, 183, 56, 0.85)
        ),
        url("../../img/happy-cat-l@2x.jpg");
      background-size: auto, 720px auto;
    }
  }
}
