.promo {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0 20px 0;
  margin: 0;
}

@media (min-width: $tablet-width)/* and (max-width: $desktop-width)*/ {
  .promo {
    align-items: flex-start;
    width: 53.9%;
    height: 400px;
    padding-top: 30px;
    margin: 0 auto 0 0;
  }
}

.promo__title {
  color: $color__white;
  text-align: center;
  font-weight: 400;
  padding: 27px 20px 26px 20px;
  margin: 0;

  @include adaptive-font(36, 60);
  @include line-height(36, 36, 60, 60);
}

@media (min-width: $tablet-width) {
  .promo__title {
    color: $color__black;
  }
}

.promo__text {
  color: $color__white;
  margin-top: 0;
  margin-bottom: 29px;
  text-transform: uppercase;

  @include adaptive-font(14, 20);
  @include line-height(14, 14, 20, 20);
}

@media (min-width: $tablet-width) {
  .promo__text {
    color: $color__black;
  }
}

.promo__image {
  display: block;
}

@media (min-width: $tablet_width) {
  .promo__image {
    position: absolute;
    bottom: 0;
    left: 40%;
  }
}

.promo__link {
  box-sizing: border-box;
  /*  padding-top: 10px;
  padding-bottom: 7px;*/
  width: 88%;
}
