.promo-container {
  padding-bottom: 20px;
  background-image:
    linear-gradient(
      to top,
      #ffffff 198px,
      transparent 198px
    ),
    linear-gradient(
      rgba(104, 183, 56, 0.85),
      rgba(104, 183, 56, 0.85)
    ),
    url("../../img/header_happy-cat.jpg");
  background-repeat: no-repeat;
  background-color: #29530f;
  background-position: 50% 0;

  @media (--middle-vp) {
    background-image: none;
    background-color: $color__white;
  }

  @media (--wide-vp) {
    position: relative;
    background-image: none;
    background-color: $color__white;
  }

  &::after {
    @media (--wide-vp) {
      content: "";
      position: absolute;
      top: -18%;
      right: 0;
      width: 50%;
      height: 695px;
      background-image:
        linear-gradient(
          rgba(104, 183, 56, 0.85),
          rgba(104, 183, 56, 0.85)
        ),
        url("../../img/header_happy-cat.jpg");
      background-position: right top;
      background-repeat: no-repeat;
    }
  }
}
