.promo-container {

  --green-gradient: linear-gradient(
    rgba(104, 183, 56, 0.85),
    rgba(104, 183, 56, 0.85)
  );
  --white-gradient: linear-gradient(
    to top,
    #ffffff 199px,
    transparent 199px
  );

  padding-bottom: 20px;
  background-image:
    var(--white-gradient),
    var(--green-gradient),
    url("../../img/happy-cat-s@1x.jpg");
  background-repeat: no-repeat;
  background-color: #29530f;
  background-position: 50% 0;

  @media (--x2-resolution) {
    background-image:
      var(--white-gradient),
      var(--green-gradient),
      url("../../img/happy-cat-s@2x.jpg");
    background-size: auto, auto, 320px auto;
  }

  @media (--middle-vp) {
    background-image: none;
    background-color: var(--color__white);
  }

  @media (--wide-vp) {
    background-image: none;
    background-color: var(--color__white);
  }

  &::after {
    @media (--wide-vp) {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 50%;
      min-height: 695px;
      background-image:
        var(--green-gradient),
        url("../../img/happy-cat-l@1x.jpg");
      background-color: #2e5c12;
      background-position: right top;
      background-repeat: no-repeat;
    }

    @media (--x2-resolution) {
      background-image:
        var(--green-gradient),
        url("../../img/happy-cat-l@2x.jpg");
      background-size: auto, 720px auto;
    }
  }
}
