.promo {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: $desktop-width;
}

@media (min-width: $tablet-width) {
  .promo {
    align-items: flex-start;
    box-sizing: border-box;
    padding-top: 30px;
    margin-left: 90px;
    padding-bottom: 500px;
  }
}

@media (min-width: $desktop-width) {
  .promo {
    align-items: flex-start;
    box-sizing: border-box;
    padding-top: 85px;
    margin-left: 80px;
    padding-bottom: 240px;
  }
}

.promo__title {
  color: $color__white;
  text-align: center;
  font-weight: 400;
  margin: 27px 0 25px 0;

  @include font-size(36, 60);
  @include line-height(36, 36, 60, 60);
}

@media (max-width: $tablet-width -1px) {
  .promo__title br {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .promo__title {
    color: $color__black;
    text-align: left;
    margin: 19px 0 42px 0;
  }
}

.promo__text {
  color: $color__white;
  margin-top: 0;
  margin-bottom: 29px;
  text-transform: uppercase;

  @include font-size(14, 20);
  @include line-height(14, 14, 20, 20);
}

@media (min-width: $tablet-width) {
  .promo__text {
    color: $color__black;
    margin-bottom: 40px;
  }
}

.promo__image {
  display: block;
  padding-bottom: 3px;
}

@media (min-width: $tablet_width) {
  .promo__image {
    position: absolute;
    bottom: 0;
    left: 40%;
  }
}

.promo__link {
  box-sizing: border-box;
  /*  padding-top: 10px;
  padding-bottom: 7px;*/
  width: 100%;
}

@media (min-width: $tablet_width) {
  .promo__link {
    box-sizing: border-box;
    padding-top: 10px;
    padding-bottom: 7px;
    width: 38%;
  }
}

@media (min-width: $desktop-width) {
  .promo__link {
    box-sizing: border-box;
    padding-top: 10px;
    padding-bottom: 7px;
    width: 19%;
  }
}
