.slider-images {
  position: relative;
}

.slider-images__cat {
  display: flex;
  justify-content: center;
}
@media (min-width: $tablet-width) {
  .slider-images__image--fat {
    display: none;
  }
}

@media (max-width: $tablet-width) {
  .slider-images__image--static {
    display: none;
  }
}

