.social {
  display: flex;
  justify-content: center;

  @media (--narrow-vp) {
    box-sizing: border-box;
    padding-bottom: 20px;
    padding-top: 15px;
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
  }
}

.social__list {
  display: grid;
  row-gap: 10px;
  // width: 55%;
  // max-width: 250px;
  width: 130px;
  grid-template-columns: repeat(3, 1fr);
  align-items: baseline;
  justify-content: center;

  @include reset-list();
}

.social__item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social__icon {
  position: relative;
  left: 0;
  display: block;
  width: 22px;
  height: 22px;
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: cover;
  background: #666666;
  transition: 0.3s;

  &:hover {
    background: var(--color__green);
  }

  &:active {
    opacity: 0.3;
  }

  @media (--not-narrow-vp) {
    width: 33px;
    height: 33px;
  }

  &--vk {
    mask-image: url("../../icons/sprite.svg#vkontakte");
  }

  &--ig {
    mask-image: url("../../icons/sprite.svg#instagram");
  }

  &--fb {
    mask-image: url("../../icons/sprite.svg#facebook");
  }
}
