.social {
  display: flex;
  justify-content: center;

}

.social__list {
  display: grid;
  row-gap: 10px;
  width: 130px;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;

  @include reset-list();
}

.social__item {
  display: flex;
  align-items: center;
  justify-content: center;
}
