.stock {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-top: 130px;
  padding-bottom: 43px;
  min-height: 290px;
  // width: calc(100vw - 40px);
  color: var(--color__white);
  background-image: url("../../img/decoration/cat-bag@1x.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  text-align: center;

  @media (--not-narrow-vp) {
    min-height: 200px;
    padding-top: 72px;
    justify-content: flex-start;
    background-image: url("../../img/decoration/cat-bag_l@1x.jpg");
    background-position: center center;
    // width: calc(100vw - 60px);
    background-size: cover;
    text-align: left;
  }

  @media (--wide-vp) {
    width: 22%;
    padding-right: 40px;
    justify-self: center;
    background-image: url("../../img/decoration/cat-bag@1x.jpg");
    background-position: 50% 50%;
    background-size: contain;
    text-align: right;
  }

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 78px;
    height: 80px;
    content: "";
    background: url("../../icons/sprite.svg#gift") 50% 50% no-repeat;

    @media (--not-narrow-vp) {
      top: 50%;
      transform: translateY(-50%);
      left: 10%;
    }
  }
}

.stock__description {
  width: 165px;
  margin: 0;
  font-family: var(--main-font);
  line-height: 1.25;
  font-size: 1rem;

  @media (--not-narrow-vp) {
    align-self: flex-end;
  }

  @media (--wide-vp) {
    text-align: center;
  }
}
