
@mixin reset-list() {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@mixin link($link-color) {
  text-decoration: none;
  color: $link-color;
}

/*adaptive for mobile and other width*/
@mixin font-size($mobile, $pc) {
  @media (max-width: $tablet-width) {
    font-size: ($mobile / $font-default-size) +rem;
  }

  @media (min-width: $tablet-width) {
    font-size: ($pc / $font-default-size) + rem;
  }
}

@mixin line-height($mobileFont, $mobileLh, $pcFont, $pcLh) {
  @media (max-width: $tablet-width) {
    line-height: calc(#{$mobileLh} / #{$mobileFont});
  }

  @media (min-width: $tablet-width) {
    line-height: calc(#{$pcLh} / #{$pcFont});
  }
}
