
:root {
  --color__green: #68b738;
  --color__deep-green: #5eaa2f;
  --color__white: #ffffff;
  --color__black: #000000;
  --color__light-black: #111111;
  --color__grey: #f2f2f2;
  --color__deep-grey: #eaeaea;
  --color__dark-grey: #444444;
  --color__light-grey: #cdcdcd;
  --color__form-input-error: #ff8282;
  --color__outline: #e98411;
}

//font-size defaults !for mixins only!
$font-mobi-size: 14;
$font-default-size: 16;
