<header class="page__header">
  <div class="header page__centerer">
    <a class="logo" href="index.html" {% if permalink == "index.html" %}aria-current="page"{% endif %}>
      <img class="logo__icon" src="./img/logo-cat-mark.svg" width="34" height="38" alt="Логотип кэт-энерджи.">
      <img class="logo__text" src="./img/logo-cat-text.svg" width="101" height="18"
        alt="Текст логотипа кэт-энерджи.">
    </a>
    <button class="menu-toggle" type="button">
      <span class="page__hidden">Меню.</span>
    </button>
    <nav class="header-nav {% if permalink == "index.html" %} header-nav--color_change {% endif %}">
      <ul class="header-nav__list">
        {% for page in pages %}
          <li class="header-nav__item">
            <a class="header-nav__link {% if permalink == page.path %} header-nav__link--current {% endif %} {% if permalink == "index.html" %} header-nav__link--changed_underline {% endif %}>{{ page.name }}" href="{{ page.path }}" {% if permalink == page.path %} aria-current="page" {% endif %}>{{ page.name }}</a>
          </li>
        {% else %}
          <li>Из навигации пропали все пункты 😕</li>
        {% endfor %}
      </ul>
    </nav>
  </div>
</header>
