{% set pageId = 1 %}
{% set permalink = pages[pageId].path %}
{% extends "./templates/layout.twig" %}

{% block page__main %}

<h1 class="page__hidden">Каталог здорового питания Кэт-энерджи</h1>

<section class="catalog page__centerer">
  <h2 class="catalog__title">Каталог продукции</h2>
  <ul class="catalog__products">
    {% for item in items %}
    <li class="product-block">
      <a class="product-block__link" href="#">
        {{ macros.picture( item.class, item.name, item.ext, item.path, item.alt, item.width, item.height ) }}
      </a>
      <div class="product">
        <h3 class="product__title">
          <a class="product__link" href="#">Cat Energy {{item.title}} {{item.mass }}&nbsp;г</a>
        </h3>
        <ul class="product__list">
          <li class="product__item">
            <span class="product__category">Масса</span>
            <b class="product__value">{{ item.mass }} г</b>
          </li>
          <li class="product__item">
            <span class="product__category">Вкус</span>
            <b class="product__value">{{ item.taste }}</b>
          </li>
          <li class="product__item">
            <span class="product__category">Цена</span>
            <b class="product__value">{{ item.price }} Р.</b>
          </li>
        </ul>
      </div>
      <a class="product-block__button main-link" href="#">Заказать</a>
    </li>
    {% else %}
    <li>Все товары раскупили 😕</li>
    {% endfor %}
    <li class="product-block product-block--more">
      <h3 class="product-block__title product-block__title--more">Показать еще 100500 товаров</h3>
      <p class="product-block__description">На самом деле вкусов гораздо больше!</p>
      <a class="product-block__button main-link main-link--discreet" href="#">Показать все</a>
    </li>
  </ul>
</section>

<section class="addons page__centerer">
  <h2 class="addons__title">Дополнительные товары</h2>
  <div class="addons-container">
    <ul class="extra">
      {% for addon in addons %}
      <li class="extra__item">
        <h3 class="extra__title">{{ addon.title }}</h3>
        <span class="extra__amount">{{ addon.amount }}</span>
        <b class="extra__count">{{ addon.count }} Р.</b>
        <a class="main-link extra__link" href="#">Заказать</a>
      </li>
      {% else %}
      <li>Все дополнительные товары раскупили 😕</li>
      {% endfor %}
    </ul>

    <aside class="stock">
      <h2 class="page__hidden">Акция от магазина Кэт-энерджи</h2>
      <p class="stock__description">Закажите все <br> и получите чехол для кота в подарок!</p>
    </aside>
  </div>

</section>
{% endblock %}
